<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/prism.css">
    <link rel='icon' href='/images/title.ico' type='image/x-icon'>
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7719430542345419",
        enable_page_level_ads: true
      });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98711212-1', 'auto');
      ga('send', 'pageview');

     </script>
  </head>
<body>

    <div><img  class="img-circle" src="/images/photoproof.jpg"></div>
    <nav >
      <ul class="center">
      <li><a href="/">Home</a></li>
      <li><a href="/coursera">Online Learning</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="https://github.com/wuthmone" target="_blank">GitHub</a></li>
      <li><a  href="https://www.linkedin.com/in/wuthmonehninhlaing" target="_blank">LinkedIn</a></li>
      <li><a href="https://www.dropbox.com/s/r00li8lar99ulg9/wut_resume.pdf?dl=0" class="download" title="Download CV as PDF" target="_blank">CV</a></li>
      </ul>
    </nav>



<div class="container">

  {{ content }}

</div>

<script src="/javascript/prism.js"></script>
  <footer>
     <ul>
     <li><span>Copyright &copy; 2017 Wut Hmone Hnin Hlaing</span></li>
     </ul>
  </footer>
</body>

</html>
